* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

body {
  width: 100%;
  background: #131314;
}

.app-container {
  display: flex;
  width: 100%;
}

.sidebar {
  position: fixed;
  width: 300px;
  background-color: #1e1f20;
  padding: 20px;
  height: 100vh;
  z-index: 2000;
}

.sidebar .menu-icon {
  color: #fff;
  font-size: 17px;
  padding: 10px;
  border-radius: 100%;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s ease-in-out;
}

.sidebar .menu-icon:hover {
  background-color: #2b2b2c;
}

.sidebar .new-chat {
  margin-top: 50px;
  background: #1a1a1c;
  padding: 10px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  height: 40px;
  transition: 0.2s ease-in-out;
}

.sidebar .new-chat button {
  outline: none;
  border: none;
  font-size: 17px;
  background: transparent;
  color: #d6d4d4;
  display: flex;
  align-items: center;
}

.sidebar .new-chat button span {
  margin-left: 20px;
  font-size: 14px;
  font-weight: 600;
}
.sidebar .new-chat button p {
  font-size: 25px;
  margin-top: 2px;
}

.sidebar .new-chat:hover {
  background-color: #2b2b2c;
}

.sidebar .side-main {
  margin-top: 30px;
}

.sidebar .side-main .title p {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  padding: 10px;
}

.chat-item {
  display: flex;
  border-radius: 100px;
  align-items: center;
  color: #fff;
}
.chat-item:hover {
  background-color: #2b2b2c;
}

.sidebar .side-main .chat-item {
  padding: 10px;
}

.chat-icon {
  height: fit-content;
  width: fit-content;
  display: inline-block;
}
.chat-icon img {
  width: 15px;
  height: 15px;
}

.chat-item .text {
  height: fit-content;
  width: 190px;
  margin: 0 10px 0 10px;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
}

.more-icon {
  height: fit-content;
  width: fit-content;
  display: none;
}

.side-bottom {
  margin-top: 50px;
  position: fixed;
  width: 260px;
}

.side-bottom .option {
  color: #fff;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 100px;
  width: 100%;
}

.side-bottom .option:hover {
  background-color: #2b2b2c;
}

.side-bottom .option i {
  height: fit-content;
  width: fit-content;
  font-size: 20px;
}

.side-bottom .option .text {
  margin-left: 10px;
}

.side-bottom .upgrade {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 13px;
  width: 260px;
  background-color: #2b2b2c;
}

.side-bottom .upgrade:hover {
  background-color: #3a3a3b;
}

.side-bottom .upgrade img {
  height: 20px;
}

.side-bottom .upgrade p {
  color: #fff;
  font-size: 14px;
}

.main-section {
  width: calc(100% - 300px);
  display: flex;
  justify-content: center;
  left: 0;
  width: 100%;
  margin-left: 300px;
  background: #131314;
}

.navbar {
  width: calc(100% - 300px);
  min-width: 400px;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  background: #131314;
  margin: 0px 16px 0px 300px;
  padding: 35px 6px;
  z-index: 1000;
}

.navbar .brand {
  font-size: 20px;
  color: #fff;
  margin-left: 25px;
}

.brand i {
  font-size: 15px;
  margin-left: 8px;
}

.profile {
  display: flex;
  align-items: center;
  height: 38px;
  width: 38px;
  padding: 4px;
  margin-right: 20px;
}

.profile img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
.main-section .chat-main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  margin-top: 30px;
  flex-wrap: wrap;
}

.main-section .welcome {
  width: 100%;
  flex-grow: 1;
  padding: 0 200px;
}
.welcome .line {
  font-size: 56px;
  width: 100%;
  color: #444746;
  line-height: 64px;
  font-weight: 500;
}

.welcome .l1 {
  width: fit-content;
  background-image: linear-gradient(to right, #5d80ea, #d66470);
  -webkit-background-clip: text; /* For Safari */
  background-clip: text;
  color: transparent;
}

.main-bottom {
  padding: 0 200px;
  width: calc(100% - 300px);
  margin-left: 300px;
  min-width: 400px;
  position: fixed;
  bottom: 0;
  background: #131314;
  min-width: 400px;
  box-shadow: rgba(19, 19, 20, 0.8) 0px 50px 100px 110px;
}

.main-bottom .input-field {
  height: 60px;
  border-radius: 100px;
  background: #1e1f20;
  display: flex;
  align-items: center;
  padding: 15px;
  justify-content: space-between;
  overflow: hidden;
}

.input-field .input {
  flex-grow: 1;
}

.input-field input {
  width: 100%;
  border: none;
  outline: none;
  height: 100%;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background: transparent;
}

.input-field .icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 150px;
}
.input-field .icons i {
  color: #424443;
  font-size: 20px;
}

.main-bottom .bottom-text {
  text-align: center;
  color: #d6d4d4;
  font-size: 11px;
  margin: 20px;
}

.main-bottom a {
  color: #d6d4d4;
}

.main-cards {
  margin-top: 70px;
  display: flex;
  top: 0;
  justify-content: space-between;
  gap: 5px;
  width: 100%;
  padding: 0 200px;
}
.main-cards .card {
  background: #1e1f20;
  top: 0;
  width: 215px;
  height: 215px;
  color: #fff;
  padding: 20px;
  border-radius: 20px;
}

.main-cards .card .card-text {
  height: 140px;
}

.main-cards .card .icon {
  width: 100%;
}

.main-cards .card .icon .wrapper {
  font-size: 20px;
  border-radius: 100%;
  height: 40px;
  width: 40px;
  background: #131314;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: right;
  margin-left: 140px;
}

.main-cards .card:hover {
  background: #2b2b2c;
}

.long-card {
  margin: 0 200px;
  display: flex;
  background: #1a1a1c;
  padding: 20px;
  margin-top: 20px;
  height: 170px;
  margin-bottom: 20px;
  border-radius: 20px;
}
.long-card .card-icon {
  height: 100%;
  color: #3a3a3b;
}

.long-card .card-icon i {
  font-size: 30px;
}

.long-card .col-2 {
  margin: 0 20px;
}
.long-card .card-text {
  color: #abc0d8;
  width: 100%;
  height: 100px;
}

.long-card button {
  outline: none;
  border: none;
  padding: 10px;
  border-radius: 100px;
  font-weight: 600;
  margin-right: 15px;
  background: transparent;
  font-size: 15px;
  color: #8ebef5;
}
.empty {
  background: transparent;
  height: 500px;
  width: 500px;

  color: #131314;
}
